.mid{
    display: flex;
    position: absolute;
    background-image: url(../Images/background_end.jpg);
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 100%;
}



.container2{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
