.content-container{
    width: 50%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content{
    width: 50%;
    background-color: 	rgba(44, 82, 179, 0.95);
    padding: 20px;
    text-align: justify;
    border-color: rgba(255, 217, 0, 0.95);
    border-style: solid;
    border-width: 0.5rem;
    z-index: 5;
}

.content:hover{
    border-style: solid;
    color: rgba(204, 34, 43, 0.95);
    border-color: rgba(204, 34, 43, 0.95);
    background-color: rgba(44, 82, 179, 0.1);

}

.propagand{
    font-size: 3rem;
    font-family: $big-text;
    text-align: center;
}

.quotation{
    font-size: 2rem;
    font-family: $big-text;
    text-align: center;
    margin-left: 50%;
}