$navbar-color: rgba(90, 90, 109, 0.9);
$big-text: Impact;
$text-color: white;

.container{
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

@mixin h{
    font-size: 2rem;
    padding-bottom: 2rem;
}

h1{
    @include h;
}

h2{
    @include h;
    text-align: center;
    font-family: $big-text ;
    color: $text-color;
}



p{
    font-size: 1rem;
    color: $text-color;
}