.top{
    display: flex;
    position: absolute;
    background-image: url(../Images/background_cropped.gif);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}