.weapon-container{
    width: 50%;
    height: 79%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}



.weapon-content{
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 65%;
    flex-direction: row;
    background-color: lawngreen;

}

@mixin wh(){
    width: 50%;
    height: 100%;
}

.blueprint{
    @include wh;
    display: flex;
    background-image: url(../Images/blueprint.jpg);
    background-position: bottom;
    background-size: contain;
}

.info-container{
    @include wh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgba(44, 82, 179, 0.95);
}

.info{
    display: block;
    padding: 1rem;
    width: 100%;
    height: 80%;
}