.contact-headline{
    h1{
        text-align: center;
    }

    margin: 38px;
    margin-top: 75px;
}




@media screen and(max-width: 480px){    
    .contact-field{
        display: grid;
        grid-template-columns: 1fr 9fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 6fr;
        gap: 20px;
    }
    
    .contact-item-small{
        background-color: $contact-field-color;
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 5px;
    }
    
    .contact-item-big{
        background-color: $contact-field-color;
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 5px;
    }
    .contact-headline{
        h1{
            font-size: 1.5rem;
        }
    }
}



@media screen and(min-width: 481px){
    .contact-field{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 6fr;
        row-gap: 10%;
        column-gap: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .contact-item-small{
        background-color: $contact-field-color;
        padding: 5px;
    }
    
    .contact-item-big{
        background-color: $contact-field-color;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 5px;
    }

    h1{
        font-size: 2rem;
    }
    
}