.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: $header-footer-color;
    height: 88px;
}
.footer{
display: flex;
flex-direction: column;
justify-content: center;
}

.footer-item{
    text-align: center;
}