body {
  background-color: #E5E5E5;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #CBC1B1;
  height: 80px;
}

.logo {
  display: -ms-grid;
  display: grid;
  padding-top: 7px;
  padding-left: 40px;
  padding-bottom: 7px;
}

@media screen and (max-width: 480px) {
  .burger-menu {
    display: -ms-grid;
    display: grid;
    justify-items: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 40px;
  }
  .pc-menu-item {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .burger-menu {
    display: none;
  }
  .pc-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5%;
  }
  .pc-menu-active {
    background-color: #7c74744d;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
}

.basic-info-container {
  display: -ms-grid;
  display: grid;
  margin: 40px;
  margin-top: 50px;
  color: #F8F7EC;
}

.basic-info-container h1 {
  font-size: 20px;
}

.basic-info-container p {
  font-size: 13px;
}

.basic-info-headline {
  text-align: center;
  margin: 24px;
}

.basic-info-text {
  margin: 15.6px;
}

.basic-info-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px;
}

.basic-info-button-container p {
  font-size: 0.8rem;
}

.basic-info-button {
  text-align: center;
  width: 120px;
  height: 30px;
  padding: 5px;
}

@media screen and (max-width: 480px) {
  .basic-info-container {
    background-color: #7C7474;
  }
  .basic-info-button {
    background-color: #f8f7ec4d;
    color: black;
  }
}

@media screen and (min-width: 481px) {
  .basic-text-image-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
  }
  .basic-info-container {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    background-color: #7c74744d;
    margin-left: 20%;
    margin-right: 20%;
  }
  .basic-info-button {
    background-color: #7C7474;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CBC1B1;
  height: 88px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-item {
  text-align: center;
}

.footer-item p {
  font-weight: 700;
}

.offers-headline {
  margin: 30px;
}

.offers-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  margin: 40px;
}

.offers-text {
  margin-left: 18px;
  margin-top: 18px;
}

.offers-text h3 {
  font-size: 13px;
  font-weight: 700;
}

.offers-text p {
  font-size: 10px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}

.button {
  background-color: #7C7474;
  color: #F8F7EC;
  width: 120px;
  text-align: center;
  padding: 5px;
}

.button p {
  font-size: 0.8rem;
}

.offers-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 480px) {
  .offers-headline h2 {
    font-size: 13.2px;
  }
}

@media screen and (min-width: 481px) {
  .offers-product-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
  }
  .offers-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offers-headline {
    text-align: center;
    font-size: 1rem;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.useful-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.useful-info-text p {
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .useful-info-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 3fr 1fr;
        grid-template-columns: 1fr 1fr 3fr 1fr;
    row-gap: 34px;
  }
  .useful-info-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media screen and (min-width: 481px) {
  .useful-info-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10vh;
    margin-left: 200px;
    margin-right: 20px;
  }
  .useful-info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
}

.contact-headline {
  margin: 38px;
  margin-top: 75px;
}

.contact-headline h1 {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .contact-field {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 9fr 1fr;
        grid-template-columns: 1fr 9fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 6fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 6fr;
    gap: 20px;
  }
  .contact-item-small {
    background-color: #7c74744d;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    padding: 5px;
  }
  .contact-item-big {
    background-color: #7c74744d;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    padding: 5px;
  }
  .contact-headline h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 481px) {
  .contact-field {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 6fr;
        grid-template-rows: 1fr 1fr 6fr;
    row-gap: 10%;
    -webkit-column-gap: 5%;
            column-gap: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .contact-item-small {
    background-color: #7c74744d;
    padding: 5px;
  }
  .contact-item-big {
    background-color: #7c74744d;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px;
  }
  h1 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */