#unique{   
    text-align: center;
    color: rgb(159, 30, 223);
}


.notthatunique{
    text-align: left;
    color: rgb(143, 199, 143);
}


p{
    color: rgb(17, 100, 182);
}
h1, h2{
    text-align: center;
    color: rgb(226, 23, 23);
}
div p{
    background-color: rgb(255, 217, 0);
}

a.notthatunique:hover{
color: rgb(230, 32, 32);
}

p::first-letter {
    color: #ff0000;
    font-size: 50px;
  }
  