.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/Cosmic-Gradient-14.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

.header{
    width: 100%;
    height: 12%;
    background-color: rgba(38, 32, 62, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    width: 25%;
}

#logo{
    width: 220px;
}

/* v navigaci */
.text-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.search-container{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}


.item-text{
    font-size: 1.1rem;
    color: white;
}



.content-container{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content{
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: justify;
    border-radius: 0.9rem;
    box-shadow: 0px 0px 35px 4px rgb(255, 255, 255);
}

h1{
    font-size: 2rem;
    padding-bottom: 2rem;
}

p{
    font-size: 1rem;
}

