.container {
width: 100vw;
height: 100vh;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: center;
align-self: center;
align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 250px;
    width: 1200px;
    background-color: blueviolet;
    gap: 20px;
    padding: 20px;
}

.flex-items {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 250px;
    width: 100%;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}

